*{
	box-sizing: border-box;
}
body{
  background-image: linear-gradient(to left, rgb(30, 5, 143), rgb(4, 118, 172));
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#calculadora table{
	border-collapse: collapse;
}
#calculadora table{
	border-collapse: collapse;
}
#calculadora table{
	height: 300px;
}
#calculadora button,
#calculadora input{
	width: 100%;
	height: 100%;
	font-size: 1em;
	padding: 10px
}
#calculadora input{
	padding: 15px;
	color: white;
	border: none;
	background-color: rgba(0, 0, 0, .5);
}
#calculadora input:focus{
	outline: none;
}
#calculadora button{
	background-color: rgba(0, 0, 0, .4);
	border: none;
	color: white;
	font-weight: bold;
	cursor: pointer;
}
#calculadora button:hover{
	background-color: rgba(0, 0, 0, .5);
}
#calculadora button:focus{
	outline: none;
}
calculadora button.operacion{
	background-color:  rgba(0, 0, 0, .2);
}
#calculadora button.operacion#restar,
#calculadora button.operacion#igual,
#calculadora button.operacion#clear{
	background-color: steelblue;
}